<h2>Create order</h2>
<command-container submit-text="Create order" command-name="order" command="order">
    <div class="form-group">
        <label for="name">Select customer</label>
        <input type="text" class="form-control" id="name" placeholder="Search for customer" ng-model="order.Customer"
               typeahead="customer as customer.Name for customer in getCustomers($viewValue)" typeahead-editable="false"
               typeahead-on-select="customerSelected(order, $item)" />
        
        <!--typeahead-input-formatter="$model.Name"-->
    </div>
    <div class="form-group order-items">
        <h3 for="name">Add order items</h3>
        <div ng-repeat="item in order.Items" class="row">
            <div class="form-group col-lg-4 col-md-4">
                <input type="text" class="form-control" ng-model="item.Product" placeholder="Search for product"
                       typeahead="product as product.Name for product in getProducts($viewValue)" typeahead-editable="false"
                       typeahead-on-select="productSelected(item, $item)" />
            </div>
            <div class="form-group col-lg-4 col-md-4">
                <input type="number" class="form-control" ng-model="item.Quantity" placeholder="Enter quantity"/>
            </div>
            <div class="form-group col-lg-4 col-md-4">
                <button type="button" class="btn btn-danger" ng-click="deleteItem(item)">
                    <span class="glyphicon glyphicon-trash"></span> Delete item
                </button>
            </div>
        </div>
        <input type="button" class="btn btn-default" ng-click="addItem()" value="Add item to list" />
    </div>
    <div ng-show="recommendations.length">
        <h3>Recommendations</h3>
        <ul>
            <li ng-repeat="rec in recommendations">{{rec.Product.Name}}</li>
        </ul>        
    </div>
</command-container>
        <!--<input type="text" class="form-control" id="name" placeholder="Search for customer" ng-model="order.Customer"
               typeahead="customer in getCustomers()" typeahead-input-formatter="$model.Name" typeahead-editable="false"
               typeahead-on-select="customerSelected(order, $item)">-->
